* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.content {
    position: relative;
    flex: 1 0 auto;
}

.row {
    display: flex;
}

footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    color: #151515;
}

.btn {
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    &:focus {
        outline: none;
    }
}

p {
    font-size: 16px;
}

.main-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    &_1 {
        background-image: url("../images/graphics/all/main-section_bg.webp");
        .container {
            max-width: 1080px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 5px;
    }
}

// Mixins

.main-title {
    color: #000000;
    font-weight: 400;
    margin: 0;
    text-align: center;
    &_1 {
        font-size: 30px;
    }
    &_2 {
        font-size: 36px;
        line-height: normal;
    }
}

@media (max-width:576px){
    .main-title {
        &_1 {
            font-size: 22px;
        }
        &_2 {
            font-size: 26px;
        }
    }
}

@media (max-width:768px){
    .main-title {

        &_1 {
            font-size: 26px;
        }

        &_2 {
            font-size: 30px;
        }
    }
}