.home-main-section_1 {
    padding: 43px 0 57px 0;
}
.home-section-wrapper {
    background-image: url('../../images/graphics/home/home-page_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 43px;
    .reviews {
        margin: 101px 0 0 0;
    }
}