.home-offer {
    background-image: url('../../images/graphics/home/offer_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}