.form2 {
    background-color: #fbe0dd;
    border: 1px solid #000000;
    padding: 13px 75px;
    max-width: 926px;
    width: 100%;
    margin: auto;
    &__title {
        margin: 0 0 23px 0;
        font-weight: 400;
        font-style: italic;
        font-size: 24px;
        text-align: center;
    }

    &__row {
        display: flex;
    }

    &__field-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__col {
        flex: 0 1 34%;
        &_big {
            flex: 0 1 65.99%;
            margin-left: 20px;
        }
    }

    &__label {
        font-style: italic;
        font-size: 16px;
        padding: 0 0 0 6px;
    }

    &__label span {
        font-size: 11px;
    }

    &__captcha {
        background-color: #fff;
        border: 1px solid #000;
    }

    &__input {
        margin: 10px 0 0 0;
        background-color: #fff;
        border: 1px solid #000;
        height: 35px;
        font-size: 16px;
        &:first-child {
            margin: 0 0 0 0;
        }
    }

    &__textarea {
        width: 100%;
        resize: none;
        height: 199px;
    }

    &__btn {
        font-size: 18px;
        font-style: italic;
        padding: 11px 0 7px 0;
        color: #fff;
        border: 1px solid #000;
        background-color: #ff0000;
        width: 100%;
        max-width: 256px;
    }
}

@media (max-width: 920px) {
    .form2 {
        &__row {
            flex-direction: column;
        }

        &__col {
            width: 100%;
            margin: 0 0 0 0;
            &_big {
                margin: 20px 0 0 0;
            }
        }

        &__textarea {
            height: 120px;
        }
    }
}

@media (max-width: 704px) {
    .form2 {
        padding: 13px 40px;
    }
}

@media (max-width: 576px) {
    .form2 {
        &__title {
            font-size: 20px;
        }
    }
}

@media (max-width: 400px) {
    .form2 {
        padding: 13px 20px;
    }
}

label {
    margin: 14px 0 0 0;
}

label.error {
    margin: 2px 0 5px 10px;
    color: red;
    font-size: 12px;
}